@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap');


:root {
    --theme: #3F8E00;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Fragment Mono', 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-size: 100%;
    font-weight: 400;
    line-height: 1.5;
    background: #080808;
}

.hero {

    color: white;
    padding: 0 16% 0 16%;
}

.hero header {
    background: #1B1B1B;
    margin: 0 -16%;
    padding: 1.4rem 16%;
    display: flex;
    border-radius: 5px;
}

.hero header .header_logo {

}

.hero header .header_logo a {
    font-weight: 700;
    text-transform: uppercase;
    color: #62BA1B;
}

.hero header nav {
    margin-left: auto;
}

.hero header nav a {
    margin-left: 1rem;
    transition: 0.2s;
}

.hero header nav .mobile_nav_open {
    display: none;
}

.hero header nav a:hover {
    color: #62BA1B;
}

.hero .hero_body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    align-items: center;
    padding: 5rem 0;
}

.hero .hero_body .hero_intro h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.hero .hero_body .hero_intro p {
    opacity: 0.7;
    margin-bottom: 2.5rem;
}

.hero .hero_body .hero_intro a {
    display: inline-block;
    padding: 0.8rem 2.8rem;
    font-weight: 700;
    background: #3F8E00;
    border: 1px solid #3F8E00;
    box-shadow: 0 8px 30px rgba(63, 142, 0, 0.5);
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}

.hero .hero_body .hero_intro a:hover {
    background: #62BA1B;
}

.hero .hero_body .hero_photo {
    margin-left: auto;
}
.education{
    margin-top: 5%;
    color: white;
    padding: 0 16% 0 16%;
}
.education_header{
    font-size: 1.5rem;
    text-align: center;
}
.edu_details_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    margin-top: 6%;
}
.edu_tagline{
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 10px;
    margin-top: 10px;
}
.edu_block p{
    opacity: 0.7;
}
.projects{
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
    padding: 0 16% 0 16%;
}
.projects_header{
    font-size: 1.5rem;
    text-align: center;
}
.project_block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    margin-top: 5%;
}
.project_image{
    background-image: url("../statics/pimage.png");
    width: 400px;
    height: 300px;
}
.project_content h{
    font-size: 1rem;
    text-align: center;
    margin-bottom: 10px;

}
.project_content{
    margin-top: 30px;
}
.project_content p{
    margin: 10px 0 20px;
    opacity: 0.7;
    font-size: 0.9rem;
}
.project_content a{
    display: inline-block;
    padding: 0.8rem 2.8rem;
    font-weight: 700;
    background: #3F8E00;
    border: 1px solid #3F8E00;
    box-shadow: 0 8px 30px rgba(63, 142, 0, 0.5);
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}


